<html>
<h1 id="test"> EMPLOYEES DASHBOARD </h1>
<nav class="navbar">
  <input class="form-control" type="text" name="firstName" [(ngModel)] = "firstName" (ngModelChange)="Search()" placeholder="Enter First Name to Search">

</nav>
<div class="design">
<table border="10">
    <thead>
        <tr>
            <th (click)="sort('id')">Emp Id&nbsp;<i class="fa fa-sort"></i></th>
            <th (click)="sort('firstName')">Emp Fname<i class="fa fa-sort"></i></th>
            <th (click)="sort('lastName')">Emp Lname<i class="fa fa-sort"></i></th>
            <th>Phno</th>
            <th (click)="sort('location')">Location<i class="fa fa-sort"></i></th>
        </tr>

    </thead>
    <tbody class="body">
        <tr *ngFor="let user of users | orderBy: key : reverse | paginate: {itemsPerPage:5,currentPage:p};">
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phno}}</td>
            <td>{{user.location}}</td>
        
        </tr>
    </tbody>
    
</table>
</div>
<pagination-controls class="page" (pageChange)="p = $event" previousLabel="Prev" nextLabel="Next"></pagination-controls>
</html>